<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <div class="container">

  {% block body %}
  {% if session['api_session_token'] %}

  You're logged in already! Go to <a href="/panel">panel</a>

  {% else %}

  <br>
  <form action="" method="post">
    <div class="login">
    <div class="login-screen">
    <div class="app-title">
      <h1>FLOORCENTER</h1>
    </div>
    <div class="login-form">
    <div class="control-group">
    <input type="text" class="login-field" placeholder="Username" name="username" value="{{
      request.form.username }}">
    <label class="login-field-icon fui-user" for="login-name"></label></div>
    <div class="control-group">
     <input type="password" class="login-field" placeholder="Password" name="password" value="{{
      request.form.password }}">
    <label class="login-field-icon fui-lock" for="login-pass"></label></div>
    <input class="btn btn-default" type="submit" value="Login" class="btn btn-primary btn-large btn-block">
  </form>{% endif %}
      {% endblock %}
    </div>
</div>
</div>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>

<!--
{
    "socid": "15",
    "statut": "0",
    "lines": [
      {
        "fk_product": "47854",
        "tva_tx": "0.000",
        "qty": "100",
        "desc": "",
        "subprice": "144.00000000",
        "remise_percent": "5"
      },
      {
        "fk_product": ,
        "tva_tx": ,
        "qty": ,
        "desc": ,
        "subprice": ,
        "remise_percent":
      },
      {
        "fk_product": ,
        "tva_tx": ,
        "qty": ,
        "desc": ,
        "subprice": ,
        "remise_percent":
      },
],
    "array_options": {
      "options_sino": "1234565"
    }
}


{
"product_id": 47853, "warehouse_id": 1, "qty": 1, "movementcode": "INV123", "movementlabel": "Inventory 123"
}

-->
